.container {
    background-color: rgb(3, 39, 53);
}

.title {
    font-style: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.mdbBtn {
    background-color: rgb(146, 154, 218);
}

.image {
    margin-left: auto;
    padding: 2px;
    height: 8em;
    width: 8em;
}

