.container {
    background-color: rgb(63, 82, 30);
}

.title {
    font-style: 'Times New Roman', Times, serif;
    font-size: x-large;
}

.mdbBtn {
    background-color: rgb(109, 105, 101);
}

.image {
    margin-left: auto;
    padding: 2px;
    height: 8em;
    width: 8em;
}

