.container {
    background-color: rgb(16, 108, 145);
}

.button.mdbBtn {
    background-color: mediumslateblue;
}

.image {
    height: 1em;
    width: 1em;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}