.container-fluid {
    background-color: rgb(124, 124, 124);
    min-height: 60px;
}

.navbar-nav .nav-link {
    margin-right: 1em;
    margin-left: 1em;
   
}

.nav-item {
    color: whitesmoke;
    font-size: larger;
    padding-right: 3em;;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
}