@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');

html,
h1 {
    font-family: 'Arizonia', cursive;
    color: whitesmoke;
    font-size: 40px;
    margin: 25px;
    padding-top: 50px;
    text-align: center;

}
