.container-fluid {
    border: 1px solid yellow;
    background-image: url('../../assets/itl.cat_forest-hd-wallpaper-free_1056477.jpeg');
    height: 100vh;
    padding-left: 0px;
    padding-right: 0px;

}

