<div class="container">
    <div>
        <h2> Shopping List </h2>
        <div class="row">
            <div class="col-xs-6" col-md-4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="enter items here" id="txtSearch" />
                  <button class="btn btn-primary" type="button" (click)="onClick()">
                      <span class="bi bi-check-circle-fill"></span>
                      </button>
                      
                    
                </div>
            </div>
        </div>
    </div>
</div>
